In [1]:
#Importing necessary libraries
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt   
import yfinance as yf

In [2]:
#Getting the data for a stock from the start date to the end date
start_date = '2010-01-01'
end_date = '2024-07-15'

stock_symbol = "GOOG"

data = yf.download(stock_symbol , start_date , end_date)

[*********************100%%**********************]  1 of 1 completed

In [3]:
print(data)

                  Open        High         Low       Close   Adj Close  \
Date
2010-01-04   15.615220   15.678981   15.547723   15.610239   15.592496
2010-01-05   15.620949   15.637387   15.480475   15.541497   15.523831
2010-01-06   15.588072   15.588072   15.102393   15.149715   15.132495
2010-01-07   15.178109   15.193053   14.760922   14.797037   14.780218
2010-01-08   14.744733   15.024933   14.672753   14.994298   14.977255
...                ...         ...         ...         ...         ...
2024-07-08  191.365005  191.679001  189.320007  190.479996  190.479996
2024-07-09  191.750000  192.860001  190.229996  190.440002  190.440002
2024-07-10  190.750000  193.309998  190.619995  192.660004  192.660004
2024-07-11  191.339996  192.410004  186.820007  187.300003  187.300003
2024-07-12  186.919998  188.690002  186.139999  186.779999  186.779999

               Volume
Date
2010-01-04   78541293
2010-01-05  120638494
2010-01-06  159744526
2010-01-07  257533695
2010-01-08  189680313
...               ...
2024-07-08   12097600
2024-07-09   10198500
2024-07-10   12052900
2024-07-11   16452000
2024-07-12   14449100

[3655 rows x 6 columns]

In [4]:
#Add new index(0,1,2,...) instead of date column:
data.reset_index(inplace = True)

In [5]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,15.615220,15.678981,15.547723,15.610239,15.592496,78541293
1,2010-01-05,15.620949,15.637387,15.480475,15.541497,15.523831,120638494
2,2010-01-06,15.588072,15.588072,15.102393,15.149715,15.132495,159744526
3,2010-01-07,15.178109,15.193053,14.760922,14.797037,14.780218,257533695
4,2010-01-08,14.744733,15.024933,14.672753,14.994298,14.977255,189680313
...,...,...,...,...,...,...,...
3650,2024-07-08,191.365005,191.679001,189.320007,190.479996,190.479996,12097600
3651,2024-07-09,191.750000,192.860001,190.229996,190.440002,190.440002,10198500
3652,2024-07-10,190.750000,193.309998,190.619995,192.660004,192.660004,12052900
3653,2024-07-11,191.339996,192.410004,186.820007,187.300003,187.300003,16452000
3654,2024-07-12,186.919998,188.690002,186.139999,186.779999,186.779999,14449100

In [ ]:
#We will be using the method of moving averages:
#